#container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    border-bottom: 1px solid #80808055;
    position: sticky;
    top: 80px;
}

.link {
    color: white;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.link:hover {
    background-color: #171717;
}

@media (orientation: portrait) {
    #container {
        top: 0;
    }
}
