#container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#top {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: small;
  color: grey;
}

#bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  font-size: xx-small;
  color: #8080804c;
}
