#container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  backdrop-filter: brightness(50%);
  z-index: 100;
}

#wrapper {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

#closeButton {
  position: absolute;
  right: 50px;
  top: 50px;
  cursor: pointer;
}

#form {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #80808055;
  gap: 20px;
}

#right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

#top {
  display: flex;
  gap: 20px;
  width: 100%;
}

.textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding: 5px;
  background: none;
  color: white;
}

#username {
  font-size: large;
}

#middle {
  max-height: 40vh;
  aspect-ratio: 16/9;
}

#button {
  height: 40px;
  padding: 0 20px;
  outline: none;
  border-radius: 50px;
  font-weight: 500;
  background: none;
  border: 1px solid #80808055;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

@media (orientation: portrait) {
  #form {
    width: 90%;
  }
}
