#container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-bottom: 1px solid #80808055;
}

#top {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#userImage {
    border-radius: 50%;
}

#right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#username {
    font-weight: 500;
    color: white;
    text-decoration: none;
}

#time {
    color: grey;
    font-size: small;
}

#caption {
    text-decoration: none;
    color: white;
}

#middle {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#imageWrapper {
    width: 60%;
    aspect-ratio: 1/1;
    align-self: center;
}

#postImage {
    border-radius: 20px;
    border: 1px solid #80808055;
    object-fit: cover;
}

#bottom {
    display: flex;
    gap: 10px;
}

#threadButtons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: x-large;
}

#commentButton {
    color: white;
}

#copyButton {
    cursor: pointer;
}

@media (orientation: portrait) {
    #imageWrapper {
        width: 100%;
    }
}
