#container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #80808055;
}

#image {
    border-radius: 50%;
}

.input {
    background: none;
    color: white;
    border: 1px solid #8080804a;
    outline: none;
    border-radius: 5px;
    height: 30px;
    padding: 0 5px;
    width: 100%;
}

#button {
    height: 40px;
    padding: 0 20px;
    outline: none;
    border-radius: 50px;
    font-weight: 500;
    background: none;
    border: 1px solid #80808055;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}
